html, body {
    background-color:#000080;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}
.heading{
    text-align:center;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

h1{
    color:white;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.label{
    display: block;
    color: white;
    margin-bottom: 20px;
}

.naw-data{
    color:white;
}

#code{
    height: 40px;
    width: 75%;
    margin: auto;
}

.btn{
    margin-top:20px;
    width: 50%;
}

.error-message{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    text-align: center;

    -webkit-animation: fadeOut 2s forwards;
    animation: fadeOut 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    color: white;
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.btn-naw{
    margin-left: 18em;
    width: 25%;
}

.naw-checkbox{
    margin-left: 14em;

}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.btn{
    width:auto;
}

tbody{
    display: -webkit-inline-box;
}

tr{
    border-bottom:white;
}

tr:hover {background-color: #00008B}